@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This example demonstrates using SuperOffice OAuth 2.0 provider and SuperOffice.WebApi.
    </p>
</div>
